# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
.DS_Store
.DS_Store
.idea/workspace.xml
.idea/vcs.xml
.idea/Rio-scripts.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
Images/Baby Luigi.png
Images/Baby Mario.png
Images/Birdo.png
Images/Boo.png
Images/Bowser Jr.png
Images/Bowser.png
Images/Bro(B).png
Images/Bro(F).png
Images/Bro(H).png
Images/Daisy.png
Images/Diddy.png
Images/Dixie.png
Images/DK.png
Images/Dry Bones(B).png
Images/Dry Bones(G).png
Images/Dry Bones(Gy).png
Images/Dry Bones(R).png
Images/Goomba.png
Images/King Boo.png
Images/Koopa(G).png
Images/Koopa(R).png
Images/Luigi.png
Images/Magikoopa(B).png
Images/Magikoopa(G).png
Images/Magikoopa(R).png
Images/Magikoopa(Y).png
Images/Mario.png
Images/Monty.png
Images/Noki(B).png
Images/Noki(G).png
Images/Noki(R).png
Images/Paragoomba.png
Images/Paratroopa(G).png
Images/Paratroopa(R).png
Images/Peach.png
Images/Petey.png
Images/Pianta(B).png
Images/Pianta(R).png
Images/Pianta(Y).png
Images/Shy Guy(B).png
Images/Shy Guy(Bk).png
Images/Shy Guy(G).png
Images/Shy Guy(R).png
Images/Shy Guy(Y).png
Images/Toad(B).png
Images/Toad(G).png
Images/Toad(P).png
Images/Toad(R).png
Images/Toad(Y).png
Images/Toadette.png
Images/Toadsworth.png
Images/Waluigi.png
Images/Wario.png
Images/Yoshi.png
Images/bat.png
Images/glove.png
Images/Birdo Beauties.png
Images/Birdo Bows.png
Images/Birdo Fans.png
Images/Birdo Models.png
Images/Bowser Black Stars.png
Images/Bowser Blue Shells.png
Images/Bowser Flames.png
Images/Bowser Monsters.png
Images/Daisy Cupids.png
Images/Daisy Lillies.png
Images/Daisy Petals.png
Images/Daisy Queen Bees.png
Images/Diddy Ninjas.png
Images/Diddy Red Caps.png
Images/Diddy Survivors.png
Images/Diddy Tails.png
Images/DK Animals.png
Images/DK Explorers.png
Images/DK Kongs.png
Images/DK Wild Ones.png
Images/Jr Bombers.png
Images/Jr Fangs.png
Images/Jr Pixies.png
Images/Jr Rookies.png
Images/Luigi Gentlemen.png
Images/Luigi Leapers.png
Images/Luigi Mansioneers.png
Images/Luigi Vacuums.png
Images/Mario All Stars.png
Images/Mario Fireballs.png
Images/Mario Heroes.png
Images/Mario Sunshines.png
Images/Peach Dynasties.png
Images/Peach Monarchs.png
Images/Peach Princesses.png
Images/Peach Roses.png
Images/Waluigi Flankers.png
Images/Waluigi Mashers.png
Images/Waluigi Mystiques.png
Images/Waluigi SmartAlecks.png
Images/Wario Beasts.png
Images/Wario Garlics.png
Images/Wario Greats.png
Images/Wario Steakheads.png
Images/Yoshi Eggs.png
Images/Yoshi Flutters.png
Images/Yoshi Islanders.png
Images/Yoshi Speed Stars.png
Images/Waluigi Smart Alecks.png
TeamRosterImages_StatFiles.py
test.py
cache/cache.pkl
